# MANE 4333
## Homework 1
## Your Name

In [ ]:
# cell 2
# Enter the Python code required to read titanic_train.xlsx into a Pandas Data Frame in Cell Two (Code). Your code should also display the information about the DataFrame.

**Cell Three**

*Provide a list of the variables and the number of observations for each variable.*

In [ ]:
# cell 4
# Enter the Python Code in Cell Four (code) to display any row containing missing values.

**Cell Five**

*Summarize the results from Question 5.*

In [ ]:
# cell 6
# If needed, enter the Python code to create a new DataFrame containing complete records for all variables.

**Cell Seven**

*Describe if you needed to remove rows with missing data and what are the dimensions of the final DataFrame.*

In [ ]:
# cell 8
# Enter the Python code to create a scatter matrix plot of all numeric variables in the DataFrame.

In [ ]:
# cell 9
# Enter the Python code to create Box Plots of all numeric variables in the DataFrame.

**Cell Ten**

*Discuss if there appears to be any outliers in the DataFrame appearing in the output from Questions 8 and 9.*

In [ ]:
# cell 11
# Enter the Python code in to calculate the summary statistics for all variables.

In [ ]:
# Cell 12
# Enter the Python code to create a new column containing the MinMaxScaled values for 'Fare'.

In [ ]:
# Cell 13
# Enter the Python code to write the updated DataFrame to an Excel spreadsheet stored in your repository.